/*.profile{
  position: absolute;
  right: 5%;
  top: 220px;
  width: 300px;
  padding: 10px;
  text-align: center;
  color: #5a5c51;
  display: block;
}*/
.myProfile{
  width: 90%;
  margin-left: 5%;
}
