

/* Float cancel and signup buttons and add an equal width */
.signupbtn {
    float: left;
    width: 50%;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for signup button on extra small screens */
@media screen and (max-width: 300px) {
    .signupbtn {
       width: 100%;
    }
}
